* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
body {
  max-width: 1200px;
  background-color: #636;
}
hr {
  height: 20px;
  border: none;
}
input {
  color:purple;
  border: 2px solid #dbd;
  border-radius: 5px;
}
input:hover {
  color:purple;
}
input:focus {
  color:RebeccaPurple;
}
li {
  padding: 10px 0;
}
.wide {
  width: 450px;
  font-size: 1.2em;
}
.tall {
  height: 3em;
}
.small {
  width: 50px;
}
.med {
  font-size: 1.2em;
  width: 250px;
}
.date {
  font-size: 2em;
  display: block;
  margin: 20px auto;
}
#date {
  font-size: 1.5em;
}
#locality{
  width: 250px;
  font-size: 1em;
  margin-top: 10px;
}
.explanation {
  display: none;
  position: absolute;
  z-index: 1;
  width:600px;
  height: auto;
  background-color: white;
}
#idexplain {
  display: none;
  width: 900px;
  max-width: 90%;
  margin: auto;
}
#urlbutton {
  font-size: 1.2em;
  padding: 20px;
}
#idbutton {
  padding: 20px;
}
#bday {
  margin-bottom: 20px;
}
.enter {
  display: block;
  margin-top: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  width: 600px;
  height: 100px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.signature-pad {
  position: absolute;
  left: 0;
  top: 0;
  width: 600px;
  height: 100px;
  background-color: white;
  border: solid 1px;
}
#main, #header {
  font-size: 1.3em;
  max-width: 1000px;
  max-width: 100%;
  background-color: #efeaf2;
  padding:15px;
  border-radius: 25px 0;
}
h1 {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  letter-spacing: -2px;
}
h1, h2, h3 {
  padding: 20px 0 10px;
  max-width: 900px;
}
h4 {
  padding: 0 0 10px;
  max-width: 900px;
}
p {
  max-width: 900px;
  padding: 0 0 20px 0;
}
.center {
  font-size: 1.3em;
  max-width: 1000px;
  max-width: 100%;
  background-color: #efeaf2;
}
#bg {
  background-color: #e9edf1;
  display: none;
}
#acceptance {
  display: none;
}
#restrictions {
  display: none;
}
#output1, #output2{
  width: 100%;
  max-width: 900px;
}
#sigdate {
  font-size: 1.5em;
}
#publish {
  display: block;
  padding: 20px 0;
  font-weight: 900;
}
.footer {
  background-color: #e9edf1;
  border: 2px solid purple;
  border-radius: 20px;
  max-width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 25px;
  margin-top: 25px;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 600px;
  background-color: darkgrey;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  left: -300px;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
#sig {
  padding: 25px 0;
  border-radius: 25px 0;
}
#witness {
  display: none;
}
#witness_sig {
  display: none;
}
/* the select witness switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.italics {
  font-style: italic;
  font-size: 16px;
}
.small-text {
  font-size: 0.85em;
  font-style: italic;
}
.small-text p {
  padding: 0;
}
input:checked + .slider {
  background-color: purple;
}
input:focus + .slider {
  box-shadow: 0 0 1px purple;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
#clear {
  font-style: italic;
  font-size: 0.8em;
  padding: 2px 15px;
  margin: 0 0 20px;
  font-variant: small-caps;
}
#idu {
  font-size: 1em;
}